= stylesheet_link_tag 'new'

.pagecontainer
  %header.pagecontainer__header
    =link_to image_tag('logo/logo.png', alt: "ロゴ画像", class:"logoimage"), root_path, class: "logolink"
    %nav.progressbar
      %ul.progressbar__ul
        %li.userprogresslist
          ユーザー登録
          .userprogresslist__status
          .userprogresslist__bar
        %li.addressprogresslist
          お届け先住所入力
          .addressprogresslist__status
          .addressprogresslist__bar
        %li.completeprogresslist
          完了
          .completeprogresslist__status
          .completeprogresslist__bar

  %main.pagecontainer__main  
    %h1.mainh1 ユーザー情報登録
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      
      .field
        = f.label :ニックネーム, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :nickname, autofocus: true, class:"forminput"
      .field
        = f.label :姓（全角）, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :lastname, class:"forminput"
      .field
        = f.label :名（全角）, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :firstname, class:"forminput"
      .field
        = f.label :ふりがな（姓、全角、平仮名か片仮名）, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :lastname_kana, class:"forminput"
      .field
        = f.label :ふりがな（名、全角、平仮名か片仮名）, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :firstname_kana, class:"forminput"
      .field
        = f.label :email, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.email_field :email,  autocomplete: "email", class:"forminput"
      .field
        = f.label :password, class:"formlabel"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %span.formspan 必須
        %br/
        = f.password_field :password, autocomplete: "new-password", class:"forminput"
      .field
        = f.label :password_confirmation, class:"formlabel", class:"forminput"
        %span.formspan 必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class:"forminput"
      .field
        = f.label :生年月日, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.date_select :birthdate, use_month_numbers: true, start_year: 1940, end_year:2020, class: 'form_control', prompt:"--", class:"forminput"
      .field
        = f.label :電話番号（半角数字のみ）, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :telephone_number, class:"forminput"
        %br/
      .actions
        = f.submit "Next", class:"nextbtn"
    

    %br

  %footer.pagecontainer__footer
    =link_to "プライバシーポリシー", root_path, class: "abouts"
    =link_to "利用規約", root_path, class: "abouts"
    =link_to "特定商取引に関する表記", root_path, class: "abouts"
    %p アカウントをお持ちの方はこちらからログイン↓
    = render "devise/shared/links"

-# = render "devise/shared/links" フッターに移動済み
