= stylesheet_link_tag 'new'

.pagecontainer
  %header.pagecontainer__header
    =link_to image_tag('logo/logo.png', alt: "ロゴ画像", class:"logoimage"), root_path, class: "logolink"
    %nav.progressbar
      %ul.progressbar__ul
        %li.userprogresslist
          ユーザー登録
          .userprogresslist__status
          .userprogresslist__bar
        %li.addressprogresslist
          お届け先住所入力
          .addressprogresslist__status
          .addressprogresslist__bar
        %li.completeprogresslist
          完了
          .completeprogresslist__status
          .completeprogresslist__bar

  %main.pagecontainer__main  
    %h1.mainh1 ユーザー情報登録
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      
      .field
        = f.label :ニックネーム, class:"formlabel"
        %span.formspan 必須
        %br/
        = f.text_field :nickname, autofocus: true, class:"forminput"
      .field
        = f.label :姓（全角）
        %br/
        = f.text_field :lastname
      .field
        = f.label :名（全角）
        %br/
        = f.text_field :firstname
      .field
        = f.label :ふりがな（姓）（全角）（平仮名かカタカナ）
        %br/
        = f.text_field :lastname_kana
      .field
        = f.label :ふりがな（名）（全角）（平仮名かカタカナ）
        %br/
        = f.text_field :firstname_kana
      .field
        = f.label :email
        %br/
        = f.email_field :email,  autocomplete: "email"
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .field
        = f.label :生年月日
        %br/
        = f.date_select :birthdate, use_month_numbers: true, start_year: 1940, end_year:2020, class: 'form_control', prompt:"--"
      .field
        = f.label :電話番号（半角で数字のみご記入願います）
        %br/
        = f.text_field :telephone_number
      .actions
        = f.submit "Next"
    
    %p ここまでがメイン
    %br

  %footer.pagecontainer__footer
    %p ここからはフッター
    = render "devise/shared/links"

-# = render "devise/shared/links" フッターに移動済み
