= stylesheet_link_tag 'new_address'

.pagecontainer
  -# ヘッダー
  = render 'header'

  -# メイン
  %main.pagecontainer__main
    %h1.mainh1 住所登録
    = form_with model:@address, local: true do |f|
      = render "devise/shared/error_messages", resource: @address

      .field
        = f.label :姓（全角）, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :lastname, class:"field__forminput"
      .field
        = f.label :名（全角）, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :firstname, class:"field__forminput"
      .field
        = f.label :ふりがな（姓、全角、平仮名か片仮名）, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :lastname_kana, class:"field__forminput"
      .field
        = f.label :ふりがな（姓、全角、平仮名か片仮名）, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :firstname_kana, class:"field__forminput"
      .field
        = f.label :郵便番号（ハイフンもご記入願います）, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :postal_code, class:"field__forminput"
      .field
        = f.label :県, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        .field__formprefecture
          = f.select :prefecture, Address.prefectures.keys, prompt: '選択してください'
      .field
        = f.label :市区町村, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :municipality, class:"field__forminput"
      .field
        = f.label :番地, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :street, class:"field__forminput"
      .field
        = f.label :建物（任意）, class:"field__formlabel"
        %span.field__formspan 任意
        %br/
        = f.text_field :building, class:"field__forminput"
      .field
        = f.label :電話番号（任意）, class:"field__formlabel"
        %span.field__formspan 任意
        %br/
        = f.text_field :telephone_number, class:"field__forminput"
      .actions
        = f.submit "Sign up", class:"nextbtn"

    %br

  -# フッター
  = render 'footer'



  
