.footer
  .footer__top
    %ul.footer__top-lists
      %li.large__list
        %ul
          %h3 FURIMAについて
          %li
            = link_to "#", class: "small__list" do
              会社概要(運営会社)
          %li
            = link_to "#", class: "small__list" do
              プライバシーポリシー
          %li
            = link_to "#", class: "small__list" do
              FURIMA利用規約
          %li
            = link_to "#", class: "small__list" do
              ポイントに関する特約

      %li.large__list
        %ul
          %h3 FURIMAを見る
          %li
            = link_to "#", class: "small__list" do
              カテゴリー一覧
          %li
            = link_to "#", class: "small__list" do
              ブランド一覧

      %li.large__list
        %ul
          %h3 ヘルプ＆ガイド
          %li
            = link_to "#", class: "small__list" do
              FURIMAガイド
          %li
            = link_to "#", class: "small__list" do
              FURIMAロゴ利用ガイドライン

  .footer__bottom
    = image_tag 'logo/logo-white.png', alt: 'FURIMA の ロゴ', class: 'furima-logo'
    %p ©︎ FURIMA