.pickup__contents
  .pickup__contents__message
    ピックアップカテゴリー
  = link_to "#", class: "pickup__contents__link" do
    新規投稿商品
  .pickup__contents__list
    = link_to details_path, class: "pickup__contents__list__product" do
      .pickup__contents__list__product__image
        = image_tag 'pict/観葉植物.jpeg', class: 'product-image'
      .pickup__contents__list__product__details
        %h3.pickup__contents__list__product__details-name
          観葉植物
        .pickup__contents__list__product__details-contents
          .price
            5,000円
          .evaluation
            ★0
        .pickup__contents__list__product__details-tax
          （税込）

    = link_to details_path, class: "pickup__contents__list__product" do
      .pickup__contents__list__product__image
        = image_tag 'pict/車.jpeg', class: 'product-image'
      .pickup__contents__list__product__details
        %h3.pickup__contents__list__product__details-name
          ランボルギーニ
        .pickup__contents__list__product__details-contents
          .price
            100,000,000円
          .evaluation
            ★8000
        .pickup__contents__list__product__details-tax
          （税込）

    = link_to details_path, class: "pickup__contents__list__product" do
      .pickup__contents__list__product__image
        = image_tag 'pict/アーモンドチョコ.jpeg', class: 'product-image'
      .pickup__contents__list__product__details
        %h3.pickup__contents__list__product__details-name
          アーモンドチョコ
        .pickup__contents__list__product__details-contents
          .price
            220円
          .evaluation
            ★523
        .pickup__contents__list__product__details-tax
          （税込）