.pickup__contents
  .pickup__contents__message
    ピックアップカテゴリー
  = link_to "#", class: "pickup__contents__link" do
    新規投稿商品
  .pickup__contents__list

    -if @item1 != nil
      = link_to item_path(@item1), class: "pickup__contents__list__product" do
        .pickup__contents__list__product__image
          = image_tag @item1.images.first.image.url,  alt: '商品が投稿されていません', class: 'product-image'
        .pickup__contents__list__product__details
          %h3.pickup__contents__list__product__details-name
            = "#{@item1.name}"
          .pickup__contents__list__product__details-contents
            .price
              = "#{@item1.price}円"
            .evaluation
              ★0
          .pickup__contents__list__product__details-tax
            （税込）
    -else
      = image_tag 'pict/観葉植物.jpeg', class: 'product-image'
    
    -if @item2 != nil
      = link_to item_path(@item2), class: "pickup__contents__list__product" do
        .pickup__contents__list__product__image
          = image_tag @item2.images.first.image.url,  alt: '商品が投稿されていません', class: 'product-image'
        .pickup__contents__list__product__details
          %h3.pickup__contents__list__product__details-name
            = "#{@item2.name}"
          .pickup__contents__list__product__details-contents
            .price
              = "#{@item2.price}円"
            .evaluation
              ★0
          .pickup__contents__list__product__details-tax
            （税込）
    -else
      = image_tag 'pict/観葉植物.jpeg', class: 'product-image'

    -if @item3 != nil
      = link_to item_path(@item3), class: "pickup__contents__list__product" do
        .pickup__contents__list__product__image
          = image_tag @item3.images.first.image.url,  alt: '商品が投稿されていません', class: 'product-image'
        .pickup__contents__list__product__details
          %h3.pickup__contents__list__product__details-name
            = "#{@item3.name}"
          .pickup__contents__list__product__details-contents
            .price
              = "#{@item3.price}円"
            .evaluation
              ★0
          .pickup__contents__list__product__details-tax
            （税込）
    -else
      = image_tag 'pict/観葉植物.jpeg', class: 'product-image'