
= render "header"

.main-contents
  = render "first-view"
  = render "publicity"
  = render "second-view"
  = render "characteristic"
  .pickup
    = render "pickup-category"
    = render "pickup-bland"
  = render "last-view"

= render "footer"
= render "exhibitionIcon"