!!!
= stylesheet_link_tag 'users'
    
.content
  %header.content__header
    = render partial:"experiment/header"

  %main.container 
    = render 'mypage_side'
    = render 'mypage_main'

  = render partial:'experiment/footer'
  = render partial:"experiment/exhibitionIcon"
-# %p マイページ
-# %p とりあえずログイン中のユーザーの情報入れてます。@user.カラム名で取得してください。
-# %p 追加で欲しい値とか変更して欲しいことあったら言ってください

-# %p 例
-# %p ニックネーム
-# = @user.nickname
-# %p 生年月日
-# = @user.birthdate
-# %p メールアドレス
-# = @user.email