!!!
= stylesheet_link_tag 'users'
%html{:lang => "ja-jp"}
  %head
    %meta{:charset => "utf-8"}
    %title マイページ - フリマアプリ
  %body
    .content
      %header.head

      %main.container 
        -# = render "mypage_side"
        .container-side
          %nav.mypage-nav
            %ul.mypage-nav-list
              %li
                = link_to "user_path(@user)", class:"mypage-nav-list__item__mypage" do
                  マイページ
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  お知らせ
                  %span.mypage-nav-number
                    1
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  やることリスト
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  いいね！一覧
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  出品する
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  下書き一覧
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  出品した商品 - 出品中
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  出品した商品 - 取引中
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  出品した商品 - 売却済み
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  購入した商品 - 取引中
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  購入した商品 - 過去の取引
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  ニュース一覧
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  評価一覧
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  ガイド
                  %i.fas.fa-chevron-right

            %h3.mypage-nav-head 設定
            %ul.mypage-nav-list
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  プロフィール
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  発送元・お届け先住所変更
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  支払い方法
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  メール/パスワード
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  本人情報
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  電話番号の確認
                  %i.fas.fa-chevron-right
              %li
                = link_to "", class:"mypage-nav-list__item" do
                  ログアウト
                  %i.fas.fa-chevron-right

                -# = render "mypage_main"
        .container-mypage
          .mypage__user
            %a{:href => ""}
              %figure
                -# %img{:alt => "", :src => "assets/images/icon_camera.png", :width => "60"}/
              %h2.mypage__user-name @user = nickname
              .user-namber
                %div
                  評価
                  %span.bold 0
                %div
                  出品数
                  %span.bold 0

          %section.mypage-tab-container-notification-todo
            %ul.mypage-tabs
              %li.list
                %h3
                  %a{"data-toggle" => "tab", :href => ""}
                    お知らせ
                    %span.mypage-nav-number.hidden-large
                      
              %li.list
                %h3
                  %a{"data-toggle" => "tab", :href => ""}
                    やることリスト

          %section.mypage-tab-container
            %h2.mypage-tab-head 購入した商品
            %ul.mypage-tabs
              %li.active
                %h3
                  %a{"data-toggle" => "tab", :href => ""}
                    取引中
              %li
                %h3
                  %a{"data-toggle" => "tab", :href => ""}
                    過去の取引
            .tab-content
              %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
                %li.mypage-item-not-found.bold 取引中の商品がありません
              %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
                %li.mypage-item-not-found.bold 過去に取引した商品がありません


      %ul
        %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
          %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
            %span{:itemprop => "title"} メルカリ
          %i.icon-arrow-right
        %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
          %span{:itemprop => "title"} マイページ
    
-# = render 'views/devise/registraions/footer'
