= stylesheet_link_tag 'sessions_new'

.pagecontainer
  -# ヘッダー
  %header.pagecontainer__header
  =link_to image_tag('logo/logo.png', alt: "ロゴ画像", class:"logolink__image"), root_path, class: "logolink"

  -# メイン
  %main.pagecontainer__main
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, class:"field__formlabel"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"field__forminput"
      .field
        = f.label :password, class:"field__formlabel"
        %br/
        = f.password_field :password, autocomplete: "current-password", class:"field__forminput"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in"
    = render "devise/shared/links"

    

  -# フッター
  = render partial:'devise/registrations/footer'

