商品編集ページ
= stylesheet_link_tag 'items_edit'

.pagecontainer
  -# ヘッダー
  %header.pagecontainer__header
    =link_to image_tag('logo/logo.png', alt: "ロゴ画像", class:"logolink__image"), root_path, class: "logolink"



  %main.pagecontainer__main
    .flashbox
      = flash[:itemnotice]  
    %h1.mainh1 商品登録ページ
    = form_for(@item, url: item_path) do |f|

      .field
        = f.label :商品名, class:"field__formlabel"
        %span.field__formspan 必須
        %br/
        = f.text_field :name, class:"field__forminput", placeholder: "40文字まで"
      
      %br/
      .actions
        = f.submit "更新する", id:"itembtn"
  -# フッター
  = render partial:'devise/registrations/footer'
