= stylesheet_link_tag 'items_new'

%p 商品登録ページ

%main.pagecontainer__main  
  %h1.mainh1 ユーザー情報登録
  = form_for(@item, url: new_item_path) do |f|

    .field
      = f.label :出品画像, class:""
      %span.field__formspan 必須
      %br/
      = f.text_field :image, autofocus: true, class:"field__forminput"
    
    .field
      = f.label :商品名, class:""
      %span.field__formspan 必須
      %br/
      = f.text_field :name, autofocus: true, class:"field__forminput"
    
    .field
      = f.label :商品説明, class:""
      %span.field__formspan 必須
      %br/
      = f.text_field :name, autofocus: true, class:"field__forminput"
