商品詳細ページ
%br
%p 商品の情報は@itemに入ってるので.カラム名で取得してください
%p 追加で欲しい値とか変更して欲しいことあったら言ってください

%p 例
%p id
= @item.id
%p 商品名
= @item.name
%p 価格
= @item.price
%p 親カテゴリ
= @item.parentcategory
%p 子カテゴリ
= @child.name
%p 孫カテゴリ
= @grandchild.name

-# ログインユーザーのものかで表示切り替え。マークアップ時はどの程度ページを差し替えるかによるけどパーシャルファイルを変えてレンダーした方がいいかもしれませんよ。
- if @user == current_user
  %p 編集リンクが表示される
  = link_to '商品編集ページへ', edit_item_path(@item)
  %p 削除リンクが表示される
  = link_to '削除', item_path(@item), method: :delete
- elsif @user != current_user
  %p 購入リンクが表示される
  = link_to '商品購入へ(購入機能はまだ作ってないのでpathは仮置き)', '#'
- else
  %p これが表示されることはないはず




%p 画像一覧
- @item.images.each do |images|
  = image_tag images.image.url 

= @user.id
= current_user.id


-# 以下は例の部分で表示しなかったけどコードレビュー用に見本サイトにあった項目を表示してある物です。マークアップ担当者はこのあたり使いながらマークアップして見てください。
%p 出品者
= @user.nickname
%p ブランド
-if @item.brand != nil
  = @item.brand
%else
  = ""
%p 商品サイズ
= @size.name
%p 商品の状態
= @condition.name
%p 配送料の負担
= @deliverycost.name
%p 発送元の地域
= @item.delivery_from
%p 発送日の目安
= @deliverytime.name