
= render "experiment/header"

= form_for(@item, url: item_path) do |f|
  .field
    = f.hidden_field :auction, :value => false
    = f.hidden_field :dealing, :value => false
    = f.hidden_field :sold, :value => true
  
  = f.submit "これ押したらフラグ立つんで入れといてください", id:""


.details
  .details__contents
    .details__contents__upper
      .details__contents__upper__ItemName
        = @item.name

      .details__contents__upper__ItemImageBox
        .details__contents__upper__ItemImageBox__main
          = image_tag @firstimage.image.url, class: "details__contents__upper__ItemImageBox__main__image"
        .details__contents__upper__ItemImageBox__sub
          - @item.images.each do |images|
            = image_tag images.image.url, class: "details__contents__upper__ItemImageBox__sub__image"

      .details__contents__upper__ItemPrice
        %h2
          = "¥#{@item.price}"
        %br
        %span （税込）
        %span 送料込み

      .details__contents__upper__ItemAction
        - if user_signed_in?
          - if @user == current_user
            = link_to '編集', edit_item_path(@item), class: "details__contents__upper__ItemAction__link"
            = link_to '削除', item_path(@item), method: :delete, class: "details__contents__upper__ItemAction__link"
          - elsif @user != current_user
            = link_to '#', class: "details__contents__upper__ItemAction__link"
          - else
            %p これが表示されることはないはず
        - else
          = link_to '購入画面へ進む', '#', class: "details__contents__upper__ItemAction__link"

      .details__contents__upper__ItemExplanation
        = @item.description

      .details__contents__upper__Table
        .details__contents__upper__Table__Box
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              出品者
            %p.details__contents__upper__Table__Box--Row--Cell
              = @user.nickname
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              カテゴリー
            %p.details__contents__upper__Table__Box--Row--Cell
              = link_to "#", class: "details__contents__upper__Table__Box--Row--Cell__link" do
                = @item.parentcategory
              %br
              = link_to "#", class: "details__contents__upper__Table__Box--Row--Cell__link" do
                = @child.name
              %br
              = link_to "#", class: "details__contents__upper__Table__Box--Row--Cell__link" do
                = @grandchild.name
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              ブランド
            %p.details__contents__upper__Table__Box--Row--Cell
              -if @item.brand != nil
                = @item.brand
              -else
                = ""
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              商品のサイズ
            %p.details__contents__upper__Table__Box--Row--Cell
              = @size.name
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              商品の状態
            %p.details__contents__upper__Table__Box--Row--Cell
              = @condition.name
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              配送料の負担
            %p.details__contents__upper__Table__Box--Row--Cell
              = @deliverycost.name
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              発送元の地域
            %p.details__contents__upper__Table__Box--Row--Cell
              = link_to "#", class: "details__contents__upper__Table__Box--Row--Cell__link" do
                = @item.delivery_from
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              配送の方法
            %p.details__contents__upper__Table__Box--Row--Cell
              = @item.deliveryway.name
          .details__contents__upper__Table__Box--Row
            %p.details__contents__upper__Table__Box--Row--Cell--left
              発送日の目安
            %p.details__contents__upper__Table__Box--Row--Cell
              = @deliverytime.name

      .details__contents__upper__Button
        %button{type: "button", class: "details__contents__upper__Button__Love"}
          ★ お気に入り 0
        = link_to "#", class: "details__contents__upper__Button__Report" do
          ◆ 不適切な商品の通報

    .details__contents__middle
      .details__contents__middle__textarea
        %input{type: "textarea", class: "details__contents__middle__textarea--input"}
      .details__contents__middle__text
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分とあることがあります。
      %button{type: "submit", class: "details__contents__middle__btn"}
        ▼ コメントする

    .details__contents__lower
      .details__contents__lower__nextItem
        = link_to "#", class: "details__contents__lower__nextItem__link" do
          < 前の商品
        = link_to "#", class: "details__contents__lower__nextItem__link" do
          後ろの商品 >
      = link_to "#", class: "details__contents__lower__moreSearch" do
        メンズをもっと見る

= render "experiment/last-view"
= render "experiment/footer"
= render "experiment/exhibitionIcon"